.listado{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 48px;
}

.listado-libro{
	border: 2px solid darkred;
	text-align: center;
	color: #333;
	text-decoration: none;
	
	transition:  box-shadow 0.4s;
}
.listado-libro:hover{
	box-shadow: 0 0 5px #BBB;
}